table {
    border-collapse: collapse;
    width: 80%;
    margin: 40px auto;
    font-family: Arial, sans-serif;
}

th {
    background-color: #444;
    color: white;
    padding: 10px;
}

td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
}

tr {
    background-color: white;
}

a {
    color: #008B8B;
    text-decoration: none;
}